@model IEnumerable<QueueSystem.ML.Models.Tarea>

@{
    ViewData["Title"] = "Lista de Tareas";
}

<h2>Lista de Tareas</h2>

<p>
    <a asp-action="Crear" class="btn btn-success">Crear Nueva Tarea</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Prioridad</th>
            <th>Fecha de Ejecución</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreTarea</td>
                <td>@item.Prioridad</td>
                <td>@item.FechaCreacion.ToShortDateString()</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdTarea" class="btn btn-sm btn-primary">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.IdTarea" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
    <p>
        <a asp-action="ColaTareas" class="btn btn-primary">Ver Cola de Tareas</a>
    </p>
</table>


